# Node.js specific
node_modules
npm-debug.log
yarn-error.log
.npm

# TypeScript specific
dist
*.tsbuildinfo

# Logs
logs
*.log

# Docker files
Dockerfile
docker-compose.yml
docker-compose.prod.yml

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous
.DS_Store
.git
.gitignore
.env
.env.*
.codex
.claude
.agents
.mcp.json
AGENTS.md
CLAUDE.md
CODEX.md
GEMINI.md

# Testing
coverage
*.test.ts
*.spec.ts

archives
docs
*.tar
images
eslint.config.cjs
.prettierrc
jest-e2e.json
jest.json
LICENSE
Makefile
nest-cli.json
README.md
